#errorLabel {
    -fx-text-fill: red;
}

#board {
    -fx-background-color: #7D8DBC;
}

.circle {
    -fx-fill: white;
    -fx-effect: innershadow( gaussian  , #364983 , 0 , 0 , -2 , -2 );
}

.circle-client {
    -fx-fill: red;
    -fx-effect: none;
}

.circle-server {
    -fx-fill: black;
    -fx-effect: none;
}

.column-clickable:hover {
    -fx-cursor: hand;
}